@use '../../assets/variables' as vars;
@use '../../assets/mixin' as mixins;

.tag{
    @include mixins.text-style(14px, 700, vars.$police, vars.$white);
    border-radius:10px;
    background: vars.$red;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px 10px 15px;
    @include mixins.mobile {
    padding: 5px 10px 5px 10px;
    @include mixins.text-style(10px, 500, vars.$police, vars.$white);
}}