@import '../../assets/variables';
.tag{
    color:white;
    border-radius:10px;
    width: 115px;
    height: 25px;
    background: $red;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: $police;
    @media (min-width: 370px) and (max-width: 870px){
    width: 84px;
    height: 18px;
    font-size: 10px;
}}