@use '../../assets/variables' as vars;
@use '../../assets/mixin' as mixins;

.slideshow {
    margin-top: 50px;
    width: 100%;
    border-radius: 25px;
    margin-bottom: 30px;

    &__content img{
    display: flex;
    margin: 0 auto;
    width: 90%;
    height: 415px;
    border-radius: 25px;
    object-fit: cover;
    @include mixins.mobile {
    height: 255px;
    }};

    &__counter {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%); 
    @include mixins.text-style(18px, 500, vars.$police, vars.$white);
    @include mixins.mobile {
    display: none;
    }};

    &__controls{
    position: absolute;
    transform: translate(6%, -300%);
    display: flex;
    width: 89%;
    justify-content: space-between;
    @include mixins.mobile {
    transform: translate(6%, -450%);
    }}


    &__controls button {
    border: none;
    background: none;
    };

    &__controls img{
        @include mixins.mobile {
            height: 24px;
    }}
};
