@use '../../assets/variables' as vars;

.slideshow {
    margin-top: 50px;
    width: 100%;
    border-radius: 25px;

    &__content img{
    display: flex;
    margin: 0 auto;
    width: 90%;
    height: 415px;
    border-radius: 25px;
    object-fit: cover;
    @media (min-width: 370px) and (max-width: 870px){
    height: 255px;
    }};

    &__counter {
    position: relative;
    transform: translate(50%, -200%);
    color: vars.$white;
    @media (min-width: 370px) and (max-width: 870px){
    display: none;
    }};

    &__controls{
    position: relative;
    transform: translate(6%, -320%);
    display: flex;
    width: 89%;
    justify-content: space-between;
    @media (min-width: 370px) and (max-width: 870px){
    transform: translate(6%, -450%);
    }}

    &__controls button {
    border: none;
    background: none;
    };

    &__controls img{
    @media (min-width: 370px) and (max-width: 870px){
            height: 24px;
    }}
}
