@use '../../assets/variables' as vars;

.fichelogement {
    width: 100%;

    &__container{
    display: flex;
    width: 90%;
    margin: 0 auto;
    flex-direction: row;
    @media (min-width: 370px) and (max-width: 870px){
    display: flex;
    flex-direction: column;
    }

    &-left{
        width: 45%;
    }

    &-right{
        width: 45%;
    }
    };
    &__title {
      font-weight: 500 ;
      font-size: 36px;
      color : vars.$red;
    };
  
    &__localisation {
      font-size: 18px;
    };

    &__tag {
        display: flex;
        flex-direction: row;
        gap:20px
      };
  
    &__info {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      
      & img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        object-fit: cover;
      }
    };

    &__info--texte {
        display: flex;
        width: 80px;
        font-size: 18px;
        font-weight: 500;
        font-family: vars.$police;
        color: vars.$red;
        margin: 0%
      };

    &__rating{
        display: flex;
        @media (min-width: 370px) and (max-width: 870px){
        position: relative;
        top:50%
    }};
  
    &__collapse{
      display: flex;
      flex-direction: row
    }
}; 