@use '../../assets/variables' as vars;
@use '../../assets/mixin' as mixins;

.apropos {
  .section {
    filter: brightness(70%);
  }

  &__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    .collapse {
      display: flex;
      flex-direction: column;

      &__title {
        width: 70%;

        @include mixins.mobile {
          width: 90%;
        }
      }
    }
  }
}