

main {
    width: 1440px;
}

.imageapropos {
    width: 1240px;
    height: 223px;
    object-fit: cover;
    border-radius: 25px;
    margin-top: 30px;
    margin-left: 100px;
    margin-bottom: 30px;
    mix-blend-mode: darken 30%;
}

.detailApropos{
    display: flex;
    flex-direction: column;
    gap:30px;
    padding-bottom: 30px;
    
}

.detailApropos summary{
    margin-left:208px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FF6060;
    color:white;
    font-family:"Montserrat";
    font-size: 24px;
    font-weight: 700;
    width: 1023px;
    border-radius: 5px;
    padding: 10px 20px 10px 15px;
    gap:30px
}

.detailApropos details div{
    width: 1000px;
    margin-left:220px;
    font-size: 20px;
    font-family: "Montserrat";
    font-weight: 100;
    display: flex;
    flex-wrap: wrap;
}