.apropos{

    margin-bottom: 30px;
    
&____container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    @media (min-width: 370px) and (max-width: 870px){
}}
}
.sectionimage{
    filter: brightness(70%);
}
