@use '../../assets/variables' as vars;

.apropos{
    .section {
        filter: brightness(70%)
    };
    
&__container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    .collapse{
    display: flex;
    flex-direction: column;

    &__title{
        width: 70%;
        @media (min-width: 370px) and (max-width: 870px){
        width: 90%;}
    };
    };
}};