.home__container-card{
width: 1240px;
display: flex;
align-items: center;
flex-direction: column;

.section{
    display: flex;
    justify-content: center;
    margin-left: 200px;
    @media (min-width: 370px) and (max-width: 600px){
    margin: 0px;
}}
}

.home__texte{

}

.home__card{

}

.home__card-title{

}