.textehome{
    position: absolute;
    top:265px;  
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    font-weight: 700;
    color: white; 
    font-family: 'Montserrat';
    -webkit-text-stroke: 1px black;
    margin-left: 10px;
}

main{
    width: 1440px;
    margin-left: 0px;
}