@use '../../assets/variables' as vars;

.home{
    width: 100%;

    &__texte{
        position: absolute;
        top:33%;
        left:55%;
        transform: translate(-50%, -50%);
        width: 60%;
        color: vars.$white;
        -webkit-text-stroke:  1px vars.$black;
        font-size: 48px;
        text-shadow: 1px 2px 0 vars.$black;
        font-weight: 700;
        font-family: vars.$police;
        @media (min-width: 370px) and (max-width: 870px){
        top:22%;
        left:40%;
        font-size: 24px;
        font-weight: 700;
        }}

    & span{
        @media (min-width: 370px) and (max-width: 870px){
            display: block;
        }};
    & span:last-child{
            @media (min-width: 370px) and (max-width: 870px){
            margin-left:0px
        }};

    &__card{
        display:flex;
        flex-flow:row wrap;
        justify-content:space-evenly;
        margin: 0 auto;
        @media (min-width: 370px) and (max-width: 870px){
        width: 100%;
        justify-content: center;
        flex-direction: column;
        gap: 122px;
        }};
        

    & a {
        text-decoration: none;
        };

    &__card img{
        width: 340px;
        height: 340px;
        border-radius: 10px;
        object-fit: cover;
        };
    
    &__card-title{
        width: 80%;
        max-width: 300px;
        transform: translate(4%, -210%);
        color: vars.$white;
        font-size: 18px;
        font-weight: 700;
        font-family: vars.$police;
        };
};