@use '../../assets/variables' as vars;
@use '../../assets/mixin' as mixins;

.card {
  width: 30%;
  height: 340px;
  border-radius: 30px;

  @include mixins.mobile {
    width: 90%;
    height: 255px;
  }
}