.collapse__title{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.collapse__arrow{
    font-size:medium;
    cursor: pointer;
    @media (min-width: 370px) and (max-width: 600px){
    width: 16px;
    height: 9px ; 
}}


.collapse__arrow {
  transition: transform 0.5s ease;
}

.collapse__arrow--rotated {
  transform: rotate(-180deg);
}

.collapse__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.5s ease, transform 0.3s ease;
  opacity: 0;
  transform: translateY(-20px);
}

.collapse__content--open {
  max-height: 500px;
  opacity: 1;
  transform: translateY(0);
}