@use '../../assets/variables' as vars;
@use '../../assets/mixin' as mixins;

.collapse {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  &__title {
    background: vars.$red;
    border-radius: 5px;
    border: none;
    color: vars.$white;
    @include mixins.text-style(24px, 700, vars.$police, vars.$white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    @include mixins.mobile {
      @include mixins.text-style(13px, 700, vars.$police, vars.$white);
    }
  }

  &__arrow {
    font-size: medium;
    cursor: pointer;

    @include mixins.mobile {
      width: 16px;
      height: 9px;
    }
  }

  &__arrow {
    transition: transform 0.5s ease;
  }

  &__arrow--rotated {
    transform: rotate(-180deg);
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.5s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(-20px);
  }

  &__content--open {
    max-height: 500px;
    opacity: 1;
    transform: translateY(0);
  }

  &__content {
    width: 70%;
    background: vars.$grey;
    border-radius: 5px;
    @include mixins.text-style(18px, normal); 
    @include mixins.mobile {
      width: 90%;
      @include mixins.text-style(13px, normal);
    }
  }

  &__content-p {
    text-align: start;
    margin: 20px;
  }
}
