.header {
    width: 1240px;
    display : flex;
    justify-content:space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
@media (min-width: 370px) and (max-width: 600px){
    width: 335px;
    margin-left: -10px;
}
}
.header__nav{
    text-decoration: none;
}

.header__link{
    font-family: "montserrat";
    color: black;;
    font-size:24px;
    text-decoration: none;
    padding-left: 100px;
    margin-right: 10px;
    @media (min-width: 370px) and (max-width: 600px){
    font-size:12px; 
    font-weight: 500;
    padding-left: 0px;
    margin-right: 25px;
    text-transform: uppercase;
}}

.header__link:hover{
    text-decoration: underline;
}

.header__logo{
    width: 210px;
    height: 68px;
    @media (min-width: 370px) and (max-width: 600px){
        margin-left: -20px;
        width: 145px;
        height: 47px;
    }
}