@use '../../assets/variables' as vars;
@use '../../assets/mixin' as mixins;

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;

    &__nav{
        text-decoration: none;
        display: flex;
        gap: 57px;       
        @include mixins.mobile {        
        gap: 26px;
        }
        };

    &__link{
        @include mixins.text-style(24px, 500, vars.$police, vars.$black);
        text-decoration: none;
        @include mixins.mobile {
        @include mixins.text-style(12px, 500, vars.$police, vars.$black);
        text-transform: uppercase;
    }};

    &__link:hover{
        text-decoration: underline;
    };

    &__logo{
        width: 210px;
        height: 68px;
        @include mixins.mobile {
        width: 145px;
        height: 47px;
        }
    };
};