@use '../../assets/mixin' as mixins;

.section {
    display: flex;
    justify-content: center;
    &__image {
        display: flex;
        align-items: center;
        object-fit: cover;
        border-radius: 25px;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 90%;
        height: 223px;
        @include mixins.mobile {
        height: 111px;
        }};
}

