.section {
    display: flex;
    justify-content: center;

    &__image {
        display: flex;
        align-items: center;
        object-fit: cover;
        border-radius: 25px;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 90%;
        height: 223px;
        @media (min-width: 370px) and (max-width: 870px){
        height: 111px;
        }};
}

