@use '../../assets/variables' as vars;
@use '../../assets/mixin' as mixins;


.error {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:113px;
    margin-top: 50px;

    &__title{
        @include mixins.text-style(228px,700,vars.$police,vars.$red);
        margin: 0px;
        @include mixins.mobile {
        @include mixins.text-style(96px,700,vars.$police,vars.$red);
        }};

    &__text{
        @include mixins.text-style(36px,500,vars.$police,vars.$red);
        text-align: center;
        @include mixins.mobile{
        @include mixins.text-style(18px,500,vars.$police,vars.$red);
    }};

    &__text span{
        @include mixins.mobile{
        display: block;
    }};

    &__text span:last-child{
        @include mixins.mobile{
        margin-left:0px
    }};

    &__link{
        @include mixins.text-style(18px,500,vars.$police,vars.$black);
        margin-bottom: 113px;
        @include mixins.mobile{
        @include mixins.text-style(14px,500,vars.$police,vars.$black)
    }};
};
