h2{
    font-size: 228px;
    margin-bottom: 10px;
    color:#ff6060;
    display: flex;
    justify-content: center;
    align-items: center;
}

main p{
    font-size: 36px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#ff6060;

}

a{
    font-size: 18px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
