@import '../../assets/variables';


.error {
        display: flex;
        flex-direction: column;
        align-items: center;
        

    &__title{
        font-size: 228px;
        margin-bottom: 10px;
        color: $red;
        font-family: $police;
        font-weight: 700;
        @media (min-width: 370px) and (max-width: 870px){
        font-size: 96px; 
    }}

    &__text{
        font-size: 36px;
        color: $red;
        font-family: $police;
        @media (min-width: 370px) and (max-width: 870px){
        font-size: 18px;
    }}

    &__link{
        font-size: 18px;
        color: $black;
        @media (min-width: 370px) and (max-width: 870px){
        font-size: 14px;
    }}
}
