@use '../../assets/variables' as vars;
@use '../../assets/mixin' as mixins;

.footer {
    @include mixins.text-style(209px, 500, vars.$police, vars.$white);
    background: vars.$black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px ;
    
    &__text {
    @include mixins.text-style(24px, 500, vars.$police, vars.$white);
    @include mixins.mobile {
    @include mixins.text-style(14px, 500, vars.$police, vars.$white);
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__logo {
    width: 122px;
  }
}


