@mixin mobile {
    @media (min-width: 370px) and (max-width: 870px) {
      @content;
    }
  };

  @mixin text-style($size: 16px, $weight: normal, $family: sans-serif, $color: black) {
    font-size: $size;
    font-weight: $weight;
    font-family: $family;
    color: $color;
  };

